<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DonatingParkingSpotE2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187393DD1BD56EEE00998B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187393F41BD56EEE00998B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187393FF1BD56EEE00998B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
